#main{
    display: flex;
}
#pop-up{
    display: none;
}
#pop-up > button{
    position: fixed;
    background: url(images/exit.png) no-repeat;
    background-size: contain;
    height: 5em;
    width: 5em;
    opacity: 0.5;
    top: 0;
    right: 0;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}
#pop-up > button:hover{
    opacity:1;
    /* background: url(images/exit2.png) no-repeat;
    background-size: contain; */
}
.pop-up-head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-image{
    width: 50%;
    min-height: 250px;
}
.head-text{
    width:45%;
}
.title{
    width: 100%;
}
.btns{
    max-width: 8em;
}
.btn{
    position: relative;
    padding:0.6em;
    opacity: 0.8;
    font-family: 'Ubuntu' sans-serif;
    font-size: 80%;
    letter-spacing: 0.075em;
    transition: all 200ms ease-in-out;
    transition-property: transform, opacity;
}
.btn:hover{
    transform: translateX(0.3em);
    opacity: 1;
}
.white-btn{
    border: 1px solid var(--dark);
}
.black-btn{
    background-color: var(--dark);
    color: var(--light);
}
.more-img{
    height:0;
    width: 100%;
    margin: 10% 0;
    /* padding-top: 100%; */
    /* background: url('images/weather-design.png') no-repeat; */
    /* background-size: contain; */
}


/* 
jamie: 758.1%
portfolio: 363.9
weather: 282.4
 */