.projects-nav{
    justify-content: flex-start;
    position: fixed;
}
.projects-header{
    height: 75vh;
}

.all{
    margin: 5% auto;
    align-self: center;
    width: 100%;
    text-align: center;
    color: #b5b5b5;
}
.projects-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em 10em;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #0e1218;
    height: 15em;
    border-radius: 2px;
}
.empty{
    background-color: transparent;
}
.info{
    width: 100%;
}

.info h2{
    font-size: 85%;
    letter-spacing: 0.2em;
}
.info p{
    margin: 3%;
    text-align: center;
}
.main-wrapper a{
    width: 30%;
    align-self: center;
    margin: auto;
}
@media screen and (max-width: 1400px){
    .info p{
        font-size: 65%;
    }
    .projects-main{
        margin: 2em 5em;
    }
    .main-wrapper a{
        width: 40%;
    }

}
@media screen and (max-width: 992px){
    .projects-main{
        margin: 2em 1em;
    }
}

@media screen and (max-width: 768px){
    .projects-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5em;
        margin: 2em 0;
    }
    .main-wrapper a{
        width: 30%;
    }
    .empty{
        background-color: #0e1218;
    }
    .empty2{
        background-color: transparent;
    }
    .info h2{
        font-size: 100%;
        margin-bottom: 1%;
    }
    body> h2{
        display: none;
    }
    .info p{
        font-size: 70%;
    }
}

@media screen and (max-width: 480px){
    .info h2{
        font-size: 70%;
    }
    .info p{
        font-size: 60%;
    }
    .main-wrapper a{
        width: 50%;
    }
}
