:root{
    --dark: #0e1218;
    --light: #b9c0ca;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
body{
    background: url('images/background-lines.png') repeat;
    background-size: 100vw auto;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: var(--dark);
}
.wrapper{
    margin: 30vh auto 0 auto;
    width: 75%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.bold{
    font-weight: bold;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.65em;
    font-weight: 300;
    margin-top: 0.1em;
}
hr{
    background: var(--dark);
    border: 0;
    height: 1px;
}
.block{
    margin: 10% 0;
}
.tags{
    margin: 0.5em 0;
}
.tag{
    padding: 0.5em;
    margin-right: 0.175em;
    line-height: 2.5;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 3px;
}
.title{
    width:55%;
}






/* ------HEADER------ */







.tiny-font{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75em;
    margin: 0.5em 0;
}
.jem{
    letter-spacing: 0.25em;
}
.greetings{
    width: 90%;
    margin: 1em 0;
}
i{
    font-size: 165%;
    margin: 0.5em 0.75em 0 0;
}







/* ------JAVASCRIPT APPS------ */






.three-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    margin: 2em 0;
}
.box{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.box-inner{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.transparent-box{
    background: url('images/transparent-box.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    opacity: 0.7;
}
.transparent-box-inner{
    height:70%;
}
h2{
    font-weight: 300;
    font-size: 1.8em;
}
.bracket{
    font-size: 2.1em;
}
.skills{
    margin: 0.8em 0 0 2.5em;
}