:root{
    --dark: #0e1218;
    --light: #b9c0ca;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
body{
    background: url('images/background-lines-small.png') repeat;
    background-size: 100vw auto;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: var(--dark);
}
a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
.wrapper{
    margin: 5vh auto 0 auto;
    width: 50%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.bold{
    font-weight: bold;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 230%;
    font-weight: 300;
    margin-top: 0.1em;
    letter-spacing:0.05em;
}
hr{
    background: var(--dark);
    border: 0;
    height: 1px;
}
.block{
    margin: 5% 0;
}
.tags{
    margin: 1em 0;
    width: 80%;
}
.tag{
    padding: 0.5em;
    margin-right: 0.175em;
    line-height: 2.5;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 3px;
    cursor: pointer;
}
.title{
    width: 65%;
}
.sm-margin{
    margin: 1em 0;
}
.sm-margin-top{
    margin-top: 1em;
}






/* ------HEADER------ */







.tiny-font{
    font-family: 'Ubuntu', sans-serif;
    font-size: 75%;
    margin: 0.5em 0;
}
.jem{
    letter-spacing: 0.25em;
    font-size:260%;
}
.greetings{
    width: 80%;
}
i{
    font-size: 165%;
    margin: 0.5em 0.75em 0 0;
}







/* ------JAVASCRIPT APPS------ */






.three-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.75em;
    margin: 2em 0;
}
.two-columns{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 2em 0;
}
.box{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.wide-box{
    width:100%;
    padding-top:50%;
    position: relative;
}
.box-inner{
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    transition-property: opacity, top, bottom, left, right;
}
.box:hover  > .box-inner, .wide-box:hover > .box-inner{
    top:-0.25em;
    bottom:-0.25em;
    left:-0.25em;
    right:-0.25em;
    opacity: 1;
    box-shadow:1px 2px 60px -10px rgb(255, 255, 255)
}
.transparent-box{
    background: url('images/transparent-box5.png') no-repeat;
    background-size: contain;
    justify-content: flex-end;
    align-items:center;
}
.transparent-box-inner{
    height:70%;
}
h2{
    font-weight: 300;
    font-size: 125%;
    letter-spacing:0.1em;
}
.bracket{
    font-size: 200%;
}
.skills{
    margin: 0.5em 0 0 2.5em;
}
.image-box-1{
    background: url('images/jem-box.png');
}
.image-box-2{
    background: url('images/jamie-box.png');
}
.image-box-3{
    background: url('images/weather-box.png');
}
.image-box{
    background-size: cover;
    align-items: flex-start;
    justify-content:flex-end;
}
.image-box > div{
    height:95%;
    width:40%;
    justify-content:center;
    align-items:flex-end;
}
.image-box h2{
    width:80%;
}






/* ------FOOTER------ */






footer{
    width: 100vw;
    align-self: center;
    height: 5em;
    color: var(--light);
    background-color: var(--dark);
    justify-content: center;
    align-items: center;
    font-size: 80%;
}